
.principal {
    background-color: #CCCCCC
}
#banner{ 
     width:100%;
}
h1 {
    text-align: center
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}
.beneficios{
    background-color:white;
}
h2{
    text-align: center;
}
 .lista{
    font-style: italic;
}